<% include ./partials/header %>
		<main>
            
		    <div class="row">
		        <div class="img-container col-sm-5 col-md-4">
		            <img class="deco-img"src="/images/portret.jpg">
		        </div>
		        <div class="col-sm-7 col-md-8">
		            <h1>Wie ben ik?</h1>
		            <p>Mijn naam is Xandra Snoeker en ik geef sinds 2014 bij mij aan huis bijlessen wiskunde aan middelbare scholieren. Als bevoegd eerstegraads docent wiskunde heb ik een ruime ervaring in het geven van alle wiskundevakken in de bovenbouw van havo en vwo. Je kunt dus bij mij terecht voor wiskunde A, wiskunde B, wiskunde C en zelfs wiskunde D. Maar natuurlijk ook als je nog in de onderbouw zit en moeite hebt met wiskunde. </p>
                    <p>Ik vind het heel fijn om leerlingen de hulp te geven waar in de klas lang niet altijd tijd voor is en hun zelfvertrouwen te zien groeien als ze wiskunde weer gaan begrijpen en betere cijfers gaan halen. Het leuke van bijles geven is voor mij dat ik de aanpak en uitleg helemaal kan afstemmen op degene die ik bijles geef. Of dat bestaat uit voorkennis ophalen, dingen anders uitleggen dan in het boek staat of juist samen het boek proberen te begrijpen, maakt niet uit.  </p>
		        </div>
		    </div>
        </main>
<% include ./partials/footer %>