<% include ./partials/header %>
		<main>
            <h1>CONTACT</h1>
            <div class="row">
                <div class="col-lg-6">
                    <p>Aanmelden voor bijles gaat telefonisch of per mail. </p>
                    <p>Daarna volgt een uitnodiging voor een gratis intakegesprek plus (korte) proefles.</p>
                    <p>Telefoon: 06 23185143</p>
                    <p>Email: info@wiskundebijlesdeventer.nl</p>
                    <p> Kom je met het OV? Plan je reis dan hier: 
                        <a href="http://9292.nl/?naar=deventer_voorhorst-45">
                            <img style="max-height: 2em;" src="/images/9292button.png">
                        </a>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h4>Adres</h4>
				    <p>Voorhorst 45</p>
				    <p>7414BB Deventer</p>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4882.791885474494!2d6.1423886!3d52.2725134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7ea08b2d67029%3A0xc62835e7caaf0592!2sVoorhorst+45%2C+7414+BB+Deventer!5e0!3m2!1snl!2snl!4v1505913914485" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                </div>
            </div> <!-- row -->
    	</main>
<% include ./partials/footer %>