<% include ./partials/header %>
		<main>
			<section class="container-fluid">
			<div class="row">
				<div class="col-sm-9">
					<h2>Welkom</h2>
					<p>Is wiskunde een struikelvak op school? Of vallen de cijfers voor proefwerken wiskunde steeds tegen? Dan bent u bij Wiskunde Bijles Deventer aan het goede adres. </p>
				</div>
				<div class="col-sm-3">
					<h4>Adres</h4>
					<p>Somestreet 5</p>
					<p>123902</p>
				</div>
			</div>
			</section>
			<section class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 summary"><h3>Wie ben ik?</h3>
						<p>Lorem nisl lectus et phasellus congue mus. Euismod litora eget habitasse vel penatibus quis quisque molestie faucibus praesent montes cras fermentum aliquet odio, aptent inceptos convallis gravida magnis </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Werkwijze</h3>
						<p>Lorem nisl lectus et phasellus congue mus. Euismod litora eget habitasse vel penatibus quis quisque molestie faucibus praesent montes cras fermentum aliquet odio, aptent inceptos convallis gravida magnis </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Praktische Info</h3>
						<p>Lorem nisl lectus et phasellus congue mus. Euismod litora eget habitasse vel penatibus quis quisque molestie faucibus praesent montes cras fermentum aliquet odio, aptent inceptos convallis gravida magnis </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Contact</h3>
						<p>Lorem nisl lectus et phasellus congue mus. Euismod litora eget habitasse vel penatibus quis quisque molestie faucibus praesent montes cras fermentum aliquet odio, aptent inceptos convallis gravida magnis </p>
					</div>
				</div>
			</section>
		</main>
<% include ./partials/footer %>