<% include ./partials/header %>
		<main>
			<section class="container-fluid welcome">
				<div class="row">
					<div class="col-sm-8 col-md-9" id="welcome">
						<h2>Welkom</h2>
						<p>Is wiskunde een struikelvak op school? Of vallen de cijfers voor proefwerken wiskunde steeds tegen? Dan ben je bij Wiskunde Bijles Deventer aan het goede adres voor ondersteuning. </p>
					</div>
					<div class="col-sm-4 col-md-3">
						<h4>Adres</h4>
						<p>Voorhorst 45</p>
						<p>7414BB Deventer</p>
						<p> Tel: <a href="tel:0623185143">06-23185143</a></p>
						<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4882.791885474494!2d6.1423886!3d52.2725134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7ea08b2d67029%3A0xc62835e7caaf0592!2sVoorhorst+45%2C+7414+BB+Deventer!5e0!3m2!1snl!2snl!4v1505913914485" 
						     width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
					</div>
				</div>
			</section>
			<hr>
			<section class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3><a href="/about" class="header-link">Wie ben ik?</a></h3>
						<p>Mijn naam is Xandra Snoeker en ik geef sinds 2014 bij mij aan huis bijlessen wiskunde aan middelbare scholieren. <a href="/about">Meer...</a></p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3><a href="/werkwijze" class="header-link">Werkwijze</a></h3>
						<p>Tijdens de bijles is er altijd ruimte voor de stof waar je op dat moment mee bezig bent, basiskennis en eigen vragen. <a href="/werkwijze">Meer...</a> </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3><a href="/info" class="header-link">Praktische Info</a></h3>
						<p>Vind alle informatie over mijn tarieven, werktijden en het aanmelden voor bijles <a href="/info">hier</a>. </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3><a href="/contact" class="header-link">Contact</a></h3>
						<p>Voor vragen en aanmeldingen ben ik bereikbaar via email en telefoon. Vind mijn contactinformatie <a href="/contact">hier</a>. </p>
					</div>
				</div>
			</section>
		</main>
<% include ./partials/footer %>