<% include ./partials/header %>
		<main>
			<section class="container-fluid">
				<div class="row">
					<div class="col-sm-9">
						<h2>Welkom</h2>
						<p>Is wiskunde een struikelvak op school? Of vallen de cijfers voor proefwerken wiskunde steeds tegen? Dan ben je bij Wiskunde Bijles Deventer aan het goede adres voor ondersteuning. </p>
					</div>
					<div class="col-sm-3">
						<h4>Adres</h4>
						<p>Voorhorst 45</p>
						<p>7414BB Deventer</p>
						<p>kaartje</p>
					</div>
				</div>
			</section>
			<section class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 summary"><h3>Wie ben ik?</h3>
						<p>Mijn naam is Xandra Snoeker en ik geef sinds 2014 bij mij aan huis bijlessen wiskunde aan middelbare scholieren. <a href="/about">Meer...</a></p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Werkwijze</h3>
						<p>Tijdens de bijles is er altijd ruimte voor de stof waar je op dat moment mee bezig bent, basiskennis en eigen vragen. <a href="/werkwijze">Meer...</a> </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Praktische Info</h3>
						<p>Vind alle informatie over mijn tarieven, werktijden en het aanmelden voor bijles <a href="info">hier</a>. </p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 summary">
						<h3>Contact</h3>
						<p>Voor vragen en aanmeldingen ben ik bereikbaar via email en telefoon. Vind mijn contactinformatie <a href="contact">hier</a>. </p>
					</div>
				</div>
			</section>
		</main>
<% include ./partials/footer %>