<% include ./partials/header %>
		<main>
			<h1>Praktische Info</h1>
            <div class="row">
		        <div class="col-sm-7 col-md-8">
		            <div class="list-group">
		                <li class="list-group-item">
		                    <h4>Hoe kan ik een ingeplande bijles afzeggen?</h4>
		                    <p>Afzeggen kan <strong class="underlined">tot 9 uur 's ochtends</strong> op de dag van de bijles. Indien dit later gebeurt word de bijles in rekening gebracht. Afzeggen kan door te bellen naar 06 - 23 18 51 43. Als er niet wordt opgenomen kun je een voicemailbericht inspreken</p>
		                    <!--<p>Afzeggen doe je telefonisch door <strong class="underlined">voor 9 uur ’s ochtends</strong> te bellen naar 0623185143. Als ik niet opneem kun je een voicemailbericht inspreken.</p>-->
		                </li>
		                <li class="list-group-item">
		                    <h4>Hoe kan ik me aanmelden voor bijlessen?</h4>
		                    <p>Je kunt je aanmelden door te bellen naar 0623185143. Als ik niet opneem kun je een voicemailbericht inspreken. Je kunt ook mailen naar <a href="mailto:info@wiskundebijlesdeventer.nl?subject=Aanmelden Wiskunde Bijles">info@wiskundebijlesdeventer.nl</a></p>
		                </li>
		                <li class="list-group-item">
		                    <h4>Wat moet ik meenemen naar de bijles?</h4>
                            <p>Je bijlesschrift, dat je krijgt tijdens de intake, en alles wat je in de klas ook gebruikt: je wiskundeboek, schrift, rekenmachine, pen/potlood en een geodriehoek.</p>		                
                        </li>
		                <li class="list-group-item">
		                    <h4>Wat kost bijles?</h4>
		                    <p>Een bijles van een uur kost €35. Je ouders krijgen maandelijks een factuur.</p>
		                </li>
		                <li class="list-group-item">
		                    <h4>Kan ik tijdens vakanties ook bijles krijgen?</h4>
		                    <p>De bijlessen kunnen in overleg in de schoolvakanties gewoon doorgaan.</p>
		                    <!--<p>Ja, tijdens de korte schoolvakanties kan de bijles gewoon doorgaan. Tijdens de kerstvakantie en zomervakantie kan dit in overleg.</p>-->
		                </li>
		                <li class="list-group-item">
		                    <h4>Op welke dagen en tijden kan ik bijles krijgen?</h4>
		                    <p>In principe is bijles mogelijk op de volgende dagen en tijden:
		                        <ul>
		                            <li>maandag: tussen 14.00 en 21.00 u</li>
		                            <li>dinsdag: tussen 14.00 en 17.30 u</li>
		                            <li>woensdag: tussen 14.00 en 17.30 u</li>
		                            <li>donderdag: tussen 14.00 en 21.00 u</li>
		                            <li>vrijdag: geen bijles mogelijk</li>
		                            <li>zaterdag en zondag: incidenteel mogelijk </li>
		                        </ul>
	                    </li>
		            </div>
	            </div>
	            <div class="img-container col-sm-5 col-md-4">
		            <img src="/images/vraagteken.jpg">
		        </div>
		    </div>
		</main>
<% include ./partials/footer %>