<% include ./partials/header %>
		<main>
		    <h1>Werkwijze</h1>
		    <div class="row">
		        <div class="col-sm-7 col-md-8">
		           <p>Jij of je ouders kunnen je telefonisch of per mail aanmelden voor bijles. Daarna nodig ik jou met (één van) je ouders uit voor een gratis intakegesprek plus (korte) proefles. Dit duurt in totaal 1 uur. </p>
		           <p>Tijdens de bijles is er altijd ruimte voor de stof waar je op dat moment op school mee bezig bent, maar er is ook ruimte voor het ophalen van basiskennis en eigen vragen. In principe bepaal jij waarmee we aan de slag gaan. De ene keer zal ik wat meer uitleggen en voordoen, de andere keer zal ik je wat meer zelf aan het werk zetten om te zien hoe je werkt. </p>
		           <p>Tijdens de bijles maken we aantekeningen in een extra schrift, dat je van mij tijdens je eerste bijles krijgt. Dit schrift moet je altijd meenemen naar je bijlessen. </p>
		           <p>Bij het geven van uitleg ga ik altijd op zoek naar een manier die jou aanspreekt en die aansluit bij jouw manier van werken. Soms betekent dat dat we samen voorkennis gaan ophalen, andere keren dat ik iets op een andere manier uitleg dan het boek. In tegenstelling tot wat vaak gedacht wordt, zijn er vaak meerdere manieren om een vraag op te lossen. Ik leer je dan ook geen trucjes voor specifieke problemen, maar een algemene aanpak die voor meer problemen werkt. </p>
                </div>
                <div class="img-container col-sm-5 col-md-4">
		            <img class="deco-img" src="/images/werkwijze.jpg">
		        </div>
		    </div>
		</main>
<% include ./partials/footer %>